Repository VenusProtocol/vips, pull requests merged in 2024-11, with the labels that each got.

#421 [VEN-2925]: add USDC market on zksync
  multisig/proposals/zksyncmainnet/vip-015/index.ts
  multisig/proposals/zksyncsepolia/vip-012/index.ts
  multisig/simulations/zksyncmainnet/vip-015/abi/comptroller.json
  multisig/simulations/zksyncmainnet/vip-015/abi/erc20.json
  multisig/simulations/zksyncmainnet/vip-015/abi/rateModel.json
  multisig/simulations/zksyncmainnet/vip-015/abi/resilientOracle.json
  multisig/simulations/zksyncmainnet/vip-015/abi/vToken.json
  multisig/simulations/zksyncmainnet/vip-015/index.ts
  multisig/simulations/zksyncsepolia/vip-012/abi/comptroller.json
  multisig/simulations/zksyncsepolia/vip-012/abi/erc20.json
  multisig/simulations/zksyncsepolia/vip-012/abi/rateModel.json
  multisig/simulations/zksyncsepolia/vip-012/abi/vToken.json
  multisig/simulations/zksyncsepolia/vip-012/index.ts
  simulations/vip-392/abi/ERC20.json
  simulations/vip-392/abi/VtreasuryAbi.json
  simulations/vip-392/bscmainnet.ts
  vips/vip-392/bscmainnet.ts
Labels: zkSync sepolia, zkSync

#401 [VEN-2845]: Add simulations for pufETH support
  hardhat.config.ts
  hardhat.config.zksync.ts
  multisig/proposals/ethereum/vip-070/index.ts
  multisig/proposals/sepolia/vip-070/index.ts
  multisig/simulations/ethereum/vip-070/abi/erc20.json
  multisig/simulations/ethereum/vip-070/index.ts
  multisig/simulations/sepolia/vip-070/abi/PoolRegistry.json
  multisig/simulations/sepolia/vip-070/abi/ResilientOracle.json
  multisig/simulations/sepolia/vip-070/abi/comptroller.json
  multisig/simulations/sepolia/vip-070/abi/erc20.json
  multisig/simulations/sepolia/vip-070/abi/vToken.json
  multisig/simulations/sepolia/vip-070/abi/weth.json
  multisig/simulations/sepolia/vip-070/index.ts
  package.json
  simulations/vip-395/abi/OmnichainProposalSender.json
  simulations/vip-395/abi/PoolRegistry.json
  simulations/vip-395/abi/ResilientOracle.json
  simulations/vip-395/abi/SingleTokenConverter.json
  simulations/vip-395/abi/comptroller.json
  simulations/vip-395/abi/vToken.json
  simulations/vip-395/abi/weth.json
  simulations/vip-395/bscmainnet.ts
  simulations/vip-395/ethereum.ts
  src/chains.ts
  src/vip-framework/checks/checkRiskParameters.ts
  vips/vip-395/bscmainnet.ts
  yarn.lock
Labels: ethereum, sepolia

#423 [VEN-2872] [VEN-2874] Deploy Treasury and Oracles to Base Sepolia
  .env.example
  hardhat.config.ts
  multisig/proposals/basesepolia/vip-000/index.ts
  multisig/simulations/basesepolia/vip-000/abi/boundValidator.json
  multisig/simulations/basesepolia/vip-000/abi/chainlinkOracle.json
  multisig/simulations/basesepolia/vip-000/abi/resilientOracle.json
  multisig/simulations/basesepolia/vip-000/abi/treasury.json
  multisig/simulations/basesepolia/vip-000/index.ts
  src/multisig/utils.ts
  src/networkAddresses.ts
  src/networkConfig.ts
Labels: base sepolia

#384 [VEN-2687][VEN-2820]: Omnichain governance on zksync & opmainnet
  hardhat.config.zksync.ts
  multisig/proposals/opmainnet/vip-006/index.ts
  multisig/proposals/opsepolia/vip-007/index.ts
  multisig/proposals/zksyncmainnet/vip-016/index.ts
  multisig/proposals/zksyncsepolia/vip-016/index.ts
  multisig/simulations/opmainnet/vip-006/abi/AccessControlManagerAbi.json
  multisig/simulations/opmainnet/vip-006/index.ts
  multisig/simulations/opsepolia/vip-007/abi/AccessControlManagerAbi.json
  multisig/simulations/opsepolia/vip-007/index.ts
  multisig/simulations/zksyncmainnet/vip-016/abi/AccessControlManagerAbi.json
  multisig/simulations/zksyncmainnet/vip-016/index.ts
  multisig/simulations/zksyncsepolia/vip-016/abi/AccessControlManagerAbi.json
  multisig/simulations/zksyncsepolia/vip-016/index.ts
  simulations/vip-399/abi/ACMAggregator.json
  simulations/vip-399/abi/AccessControlManager_ABI.json
  simulations/vip-399/abi/OmnichainExecutorOwner_ABI.json
  simulations/vip-399/abi/OmnichainGovernanceExecutor_ABI.json
  simulations/vip-399/abi/OmnichainProposalSender.json
  simulations/vip-399/bscmainnet.ts
  simulations/vip-399/bsctestnet-opsepolia.ts
  simulations/vip-399/bsctestnet-zksyncsepolia.ts
  simulations/vip-399/opmainnet.ts
  simulations/vip-399/opsepolia.ts
  simulations/vip-399/zksyncmainnet.ts
  simulations/vip-399/zksyncsepolia.ts
  src/networkAddresses.ts
  src/types.ts
  src/utils.ts
  src/vip-framework/index.ts
  vips/vip-399/bscmainnet.ts
  vips/vip-399/bsctestnet-opsepolia.ts
  vips/vip-399/bsctestnet-zksyncsepolia.ts
Labels: zkSync sepolia, zkSync, OP mainnet

#412 [VEN-2730]: Multichain governance on OP sepolia
  multisig/proposals/opsepolia/vip-007/index.ts
  multisig/simulations/opsepolia/vip-007/abi/AccessControlManagerAbi.json
  multisig/simulations/opsepolia/vip-007/index.ts
  simulations/vip-389/abi/ACMAggregator.json
  simulations/vip-389/abi/AccessControlManager_ABI.json
  simulations/vip-389/abi/OmnichainExecutorOwner_ABI.json
  simulations/vip-389/abi/OmnichainGovernanceExecutor_ABI.json
  simulations/vip-389/abi/OmnichainProposalSender.json
  simulations/vip-389/bsctestnet.ts
  simulations/vip-389/opsepolia.ts
  src/networkAddresses.ts
  src/types.ts
  vips/vip-389/bsctestnet.ts
Labels: OP sepolia

#429 [VEN-2565][VEN-2809]: Configure Prime and converters on arbitrum one
  .gitignore
  multisig/proposals/arbitrumone/vip-018/addresses.ts
  multisig/proposals/arbitrumone/vip-018/commands.ts
  multisig/proposals/arbitrumone/vip-018/index.ts
  multisig/proposals/arbitrumsepolia/vip-018/index.ts
  multisig/proposals/arbitrumsepolia/vip-019/Addresses.ts
  multisig/proposals/arbitrumsepolia/vip-019/commands.ts
  multisig/proposals/arbitrumsepolia/vip-019/index.ts
  multisig/simulations/arbitrumone/vip-018/abi/ConverterNetwork.json
  multisig/simulations/arbitrumone/vip-018/abi/ILComptroller.json
  multisig/simulations/arbitrumone/vip-018/abi/Prime.json
  multisig/simulations/arbitrumone/vip-018/abi/PrimeLiquidityProvider.json
  multisig/simulations/arbitrumone/vip-018/abi/SingleTokenConverter.json
  multisig/simulations/arbitrumone/vip-018/abi/XVSVaultTreasury.json
  multisig/simulations/arbitrumone/vip-018/index.ts
  multisig/simulations/arbitrumsepolia/vip-018/abi/ILComptroller.json
  multisig/simulations/arbitrumsepolia/vip-018/abi/Prime.json
  multisig/simulations/arbitrumsepolia/vip-018/abi/PrimeLiquidityProvider.json
  multisig/simulations/arbitrumsepolia/vip-018/index.ts
  multisig/simulations/arbitrumsepolia/vip-019/abi/ConverterNetwork.json
  multisig/simulations/arbitrumsepolia/vip-019/abi/SingleTokenConverter.json
  multisig/simulations/arbitrumsepolia/vip-019/abi/XVSVaultTreasury.json
  multisig/simulations/arbitrumsepolia/vip-019/index.ts
  simulations/vip-400/abi/ERC20.json
  simulations/vip-400/abi/ILComptroller.json
  simulations/vip-400/abi/OmnichainProposalSender.json
  simulations/vip-400/abi/Prime.json
  simulations/vip-400/abi/PrimeLiquidityProvider.json
  simulations/vip-400/abi/ProtocolShareReserve.json
  simulations/vip-400/arbitrumone.ts
  simulations/vip-400/arbitrumsepolia.ts
  simulations/vip-400/bscmainnet.ts
  simulations/vip-400/bsctestnet.ts
  src/networkAddresses.ts
  src/utils.ts
  type-extensions.ts
  vips/vip-400/bscmainnet.ts
  vips/vip-400/bsctestnet-addendum.ts
  vips/vip-400/bsctestnet.ts
Labels: arbitrum one
