Repository VenusProtocol/vips, pull requests merged in 2024-01, with the labels that each got.

#146 [VEN-2216]: Configure rewards on sepolia
  multisig/proposals/vip-006/vip-006-sepolia.ts
  multisig/simulations/vip-006/vip-006-sepolia/simulations.ts
Labels: multichain, sepolia

#140 [VEN-2090][VEN-2188]: XVS bridge src chain configurations for Sepolia and Ethereum
  hardhat.config.ts
  scripts/proposeTestnetVIP.ts
  simulations/vip-187/vip-187-testnet-2/simulations.ts
  simulations/vip-232/vip-232-testnet/abi/AccessControlManager.json
  simulations/vip-232/vip-232-testnet/abi/XVS.json
  simulations/vip-232/vip-232-testnet/abi/XVSBridgeAdmin.json
  simulations/vip-232/vip-232-testnet/abi/XVSProxyOFTSrc.json
  simulations/vip-232/vip-232-testnet/simulations.ts
  simulations/vip-232/vip-232/abi/AccessControlManager.json
  simulations/vip-232/vip-232/abi/XVS.json
  simulations/vip-232/vip-232/abi/XVSBridgeAdmin.json
  simulations/vip-232/vip-232/abi/XVSProxyOFTSrc.json
  simulations/vip-232/vip-232/simulations.ts
  vips/vip-187/vip-187-testnet-2.ts
  vips/vip-232/vip-232-testnet.ts
  vips/vip-232/vip-232.ts
Labels: multichain, ethereum

#148 [VEN-2188]: XVS token bridge configurations multisig proposal for Ethereum
  multisig/proposals/vip-003/vip-003-ethereum.ts
  multisig/simulations/vip-003/vip-003-ethereum/abi/resilientOracle.json
  multisig/simulations/vip-003/vip-003-ethereum/abi/xvs.json
  multisig/simulations/vip-003/vip-003-ethereum/abi/xvsBridgeAdmin.json
  multisig/simulations/vip-003/vip-003-ethereum/abi/xvsProxyOFTDest.json
  multisig/simulations/vip-003/vip-003-ethereum/simulations.ts
Labels: multichain, ethereum

#150 [VEN-2189]: configure XVSVault on Ethereum
  multisig/proposals/vip-004/vip-004-ethereum.ts
  multisig/simulations/vip-004/vip-004-ethereum/abi/xvs.json
  multisig/simulations/vip-004/vip-004-ethereum/abi/xvsstore.json
  multisig/simulations/vip-004/vip-004-ethereum/abi/xvsvault.json
  multisig/simulations/vip-004/vip-004-ethereum/simulations.ts
  src/networkAddresses.ts
  src/networkConfig.ts
Labels: multichain, ethereum

#129 [VEN-2201]: VTokens market configuration for opBNB Testnet
  multisig/proposals/vip-002/vip-002-opbnbtestnet.ts
  multisig/simulations/vip-002/vip-002-opbnbtestnet/abi/beacon.json
  multisig/simulations/vip-002/vip-002-opbnbtestnet/abi/comptroller.json
  multisig/simulations/vip-002/vip-002-opbnbtestnet/abi/erc20.json
  multisig/simulations/vip-002/vip-002-opbnbtestnet/abi/poolRegistry.json
  multisig/simulations/vip-002/vip-002-opbnbtestnet/abi/rateModel.json
  multisig/simulations/vip-002/vip-002-opbnbtestnet/abi/vToken.json
  multisig/simulations/vip-002/vip-002-opbnbtestnet/simulations.ts
Labels: multichain, opBNB

#117 [VEN-2209]: XVSVault configuration proposal for opBNB Testnet
  multisig/proposals/vip-004/vip-004-opbnbtestnet.ts
  multisig/simulations/vip-004/vip-004-opbnbtestnet/abi/xvs.json
  multisig/simulations/vip-004/vip-004-opbnbtestnet/abi/xvsstore.json
  multisig/simulations/vip-004/vip-004-opbnbtestnet/abi/xvsvault.json
  multisig/simulations/vip-004/vip-004-opbnbtestnet/simulations.ts
  src/networkAddresses.ts
  src/networkConfig.ts
Labels: multichain, opBNB

#181 [VEN-2315]: VIP and simulation for configuring wstETH oracle
  multisig/proposals/vip-009/vip-009-sepolia.ts
  multisig/simulations/vip-009/vip-009-sepolia/abi/resilientOracle.json
  multisig/simulations/vip-009/vip-009-sepolia/abi/wstETH.json
  multisig/simulations/vip-009/vip-009-sepolia/simulations.ts
Labels: sepolia

#186 [VEN-2315]: VIP to configure Liquid Staked ETH Pool to Sepolia
  multisig/proposals/vip-010/vip-010-sepolia.ts
  multisig/simulations/vip-010/vip-010-sepolia/abi/comptroller.json
  multisig/simulations/vip-010/vip-010-sepolia/abi/erc20.json
  multisig/simulations/vip-010/vip-010-sepolia/abi/poolRegistry.json
  multisig/simulations/vip-010/vip-010-sepolia/abi/vToken.json
  multisig/simulations/vip-010/vip-010-sepolia/simulations.ts
Labels: sepolia

#157 [VEN-2203]: opbnbmainnet oracle configuration
  multisig/proposals/vip-001/vip-001-opbnbmainnet.ts
  multisig/simulations/vip-001/vip-001-opbnbmainnet/abi/binanceOracle.json
  multisig/simulations/vip-001/vip-001-opbnbmainnet/abi/boundValidator.json
  multisig/simulations/vip-001/vip-001-opbnbmainnet/abi/resilientOracle.json
  multisig/simulations/vip-001/vip-001-opbnbmainnet/simulations.ts
Labels: multichain, opBNB

#163 [VEN-2183] Market Configuration Ethereum
  multisig/proposals/vip-002/vip-002-ethereum.ts
  multisig/simulations/vip-002/vip-002-ethereum/abi/comptroller.json
  multisig/simulations/vip-002/vip-002-ethereum/abi/erc20.json
  multisig/simulations/vip-002/vip-002-ethereum/abi/poolRegistry.json
  multisig/simulations/vip-002/vip-002-ethereum/abi/rateModel.json
  multisig/simulations/vip-002/vip-002-ethereum/abi/vToken.json
  multisig/simulations/vip-002/vip-002-ethereum/simulations.ts
  src/networkAddresses.ts
  src/vip-framework/checks/checkIsolatedPoolsComptrollers.ts
Labels: ethereum
