Repository VenusProtocol/vips, pull requests merged in 2024-07, with the labels that each got.

#324 [VEN-2675]: set Prime contract on the Core and Curve comptrollers, on Ethereum
  multisig/proposals/ethereum/vip-046/index.ts
  multisig/simulations/ethereum/vip-046/abi/ILComptroller.json
  multisig/simulations/ethereum/vip-046/index.ts
  simulations/vip-338/bscmainnet.ts
  simulations/vip-340/simulations.ts
  vips/vip-340/bscmainnet.ts
Labels: ethereum

#329 [VEN-2705]: VIP to increase supply cap for PT token market on Ethereum
  multisig/proposals/ethereum/vip-051/index.ts
  multisig/proposals/sepolia/vip-051/index.ts
  multisig/simulations/ethereum/vip-051/abi/ILComprollerAbi.json
  multisig/simulations/ethereum/vip-051/index.ts
  multisig/simulations/sepolia/vip-051/abi/ILComprollerAbi.json
  multisig/simulations/sepolia/vip-051/index.ts
  simulations/vip-347/simulations.ts
  vips/vip-347/bscmainnet.ts
Labels: ethereum, sepolia

#326 [VEN-2671] VIP for treasury on zksyncsepolia
  .env.example
  .eslint-tsconfig
  .eslintignore
  .gitignore
  .prettierignore
  hardhat.config.zksync.ts
  multisig/proposals/zksyncsepolia/vip-000/index.ts
  multisig/simulations/zksyncsepolia/vip-000/abi/treasury.json
  multisig/simulations/zksyncsepolia/vip-000/index.ts
  package.json
  src/multisig/utils.ts
  src/networkAddresses.ts
  src/networkConfig.ts
  src/types.ts
  src/utils.ts
  src/vip-framework/index.ts
  tsconfig.json
  type-extensions.ts
  yarn.lock
Labels: zkSync sepolia
