Repository VenusProtocol/vips, pull requests merged in 2024-03, with the labels that each got.

#224 [VEN-2433] Change vWBNB_CORE underlying (OpBNBTestnet)
  multisig/proposals/vip-012/vip-012-opbnbtestnet.ts
  multisig/simulations/vip-012/vip-012-opbnbtestnet/abi/beacon.json
  multisig/simulations/vip-012/vip-012-opbnbtestnet/abi/resilientOracle.json
  multisig/simulations/vip-012/vip-012-opbnbtestnet/abi/vToken.json
  multisig/simulations/vip-012/vip-012-opbnbtestnet/simulations.ts
  src/networkAddresses.ts
Labels: opBNB

#119 [VEN-2216] [VEN-2217] [VEN-2286]: send XVS to dest chain to configure the rewards (Sepolia, Ethereum)
  multisig/proposals/vip-013/vip-013-ethereum.ts
  multisig/proposals/vip-013/vip-013-sepolia.ts
  multisig/simulations/vip-013/vip-013-ethereum/abi/XVSProxyOFTDest.json
  multisig/simulations/vip-013/vip-013-ethereum/simulations.ts
  multisig/simulations/vip-013/vip-013-sepolia/abi/XVSProxyOFTDest.json
  multisig/simulations/vip-013/vip-013-sepolia/simulations.ts
  simulations/vip-213/abi/comptroller.json
  simulations/vip-213/simulations.ts
  simulations/vip-272/abi/Comptroller.json
  simulations/vip-272/abi/ERC20.json
  simulations/vip-272/abi/VTreasury.json
  simulations/vip-272/abi/XVSProxyOFTSrc.json
  simulations/vip-272/bscmainnet.ts
  simulations/vip-272/bsctestnet.ts
  vips/vip-272/bscmainnet.ts
  vips/vip-272/bsctestnet.ts
Labels: multichain, ethereum, sepolia

#231 [VEN-2479]: VIP and multisig TX to increase the bridge limits for BNB mainnet - Ethereum
  multisig/proposals/vip-014/vip-014-ethereum.ts
  multisig/simulations/vip-014/vip-014-ethereum/abi/xvsProxyOFTDest.json
  multisig/simulations/vip-014/vip-014-ethereum/simulations.ts
  simulations/vip-273/abi/XVS.json
  simulations/vip-273/abi/XVSProxyOFTSrc.json
  simulations/vip-273/bscmainnet.ts
  vips/vip-273/bscmainnet.ts
Labels: multichain, ethereum

#237 [VEN-2485] Transfer XVS to Community Wallet
  multisig/proposals/vip-015/vip-015-ethereum.ts
  multisig/simulations/vip-015/vip-015-ethereum/abi/XVS.json
  multisig/simulations/vip-015/vip-015-ethereum/simulations.ts
Labels: ethereum
