Repository VenusProtocol/vips, pull requests merged in 2024-09, with the labels that each got.

#315 [VEN-2722]: VIP for VTreasury on OpSepolia
  .env.example
  hardhat.config.ts
  multisig/proposals/opsepolia/vip-000/index.ts
  multisig/simulations/opsepolia/vip-000/abi/treasury.json
  multisig/simulations/opsepolia/vip-000/index.ts
  src/multisig/utils.ts
  src/networkAddresses.ts
  src/networkConfig.ts
Labels: OP sepolia

#365 [VEN-2743]: XVS vault on zksync mainnet
  multisig/proposals/zksyncmainnet/vip-003/index.ts
  multisig/simulations/zksyncmainnet/vip-003/abi/acm.json
  multisig/simulations/zksyncmainnet/vip-003/abi/xvs.json
  multisig/simulations/zksyncmainnet/vip-003/abi/xvsstore.json
  multisig/simulations/zksyncmainnet/vip-003/abi/xvsvault.json
  multisig/simulations/zksyncmainnet/vip-003/index.ts
  simulations/vip-360/bscmainnet.ts
  src/networkAddresses.ts
  vips/vip-360/bscmainnet.ts
Labels: zkSync

#376 [VEN-2787] VIP for NTG on arbitrumsepolia for Liquid staked ETH pool
  multisig/proposals/arbitrumsepolia/vip-013/addendum.ts
  multisig/proposals/arbitrumsepolia/vip-013/index.ts
  multisig/simulations/arbitrumsepolia/vip-013/abi/NativeTokenGateway.json
  multisig/simulations/arbitrumsepolia/vip-013/abi/WETH.json
  multisig/simulations/arbitrumsepolia/vip-013/abi/beacon.json
  multisig/simulations/arbitrumsepolia/vip-013/abi/comptroller.json
  multisig/simulations/arbitrumsepolia/vip-013/abi/erc20.json
  multisig/simulations/arbitrumsepolia/vip-013/abi/mockToken.json
  multisig/simulations/arbitrumsepolia/vip-013/abi/poolRegistry.json
  multisig/simulations/arbitrumsepolia/vip-013/abi/vToken.json
  multisig/simulations/arbitrumsepolia/vip-013/addendum.ts
  multisig/simulations/arbitrumsepolia/vip-013/index.ts
Labels: arbitrum sepolia

#366 [VEN-2713] VIP for liquid staked ETH pool on arbitrum one
  multisig/proposals/arbitrumone/vip-012/index.ts
  multisig/proposals/arbitrumone/vip-013/index.ts
  multisig/simulations/arbitrumone/vip-012/index.ts
  multisig/simulations/arbitrumone/vip-013/abi/NativeTokenGateway.json
  multisig/simulations/arbitrumone/vip-013/abi/WETH.json
  multisig/simulations/arbitrumone/vip-013/abi/beacon.json
  multisig/simulations/arbitrumone/vip-013/abi/comptroller.json
  multisig/simulations/arbitrumone/vip-013/abi/erc20.json
  multisig/simulations/arbitrumone/vip-013/abi/mockToken.json
  multisig/simulations/arbitrumone/vip-013/abi/poolRegistry.json
  multisig/simulations/arbitrumone/vip-013/abi/vToken.json
  multisig/simulations/arbitrumone/vip-013/abi/xvs.json
  multisig/simulations/arbitrumone/vip-013/index.ts
  simulations/vip-363/bscmainnet.ts
  src/vip-framework/checks/rewardsDistributor.ts
  vips/vip-363/bscmainnet.ts
Labels: arbitrum one

#370 [VEN-2721]: VIP for ACM and Oracles on OpSepolia
  multisig/proposals/opsepolia/vip-001/index.ts
  multisig/simulations/opsepolia/vip-001/abi/boundValidator.json
  multisig/simulations/opsepolia/vip-001/abi/chainlinkOracle.json
  multisig/simulations/opsepolia/vip-001/abi/resilientOracle.json
  multisig/simulations/opsepolia/vip-001/index.ts
  src/networkAddresses.ts
Labels: OP sepolia

#372 [VEN-2726] VIP for the XVS vault on OP sepolia
  multisig/proposals/opsepolia/vip-003/index.ts
  multisig/simulations/opsepolia/vip-003/abi/acm.json
  multisig/simulations/opsepolia/vip-003/abi/xvs.json
  multisig/simulations/opsepolia/vip-003/abi/xvsstore.json
  multisig/simulations/opsepolia/vip-003/abi/xvsvault.json
  multisig/simulations/opsepolia/vip-003/index.ts
  src/networkAddresses.ts
Labels: OP sepolia

#368 [VEN-2745]: VIP for NTG on Zksync mainnet
  multisig/proposals/zksyncmainnet/vip-005/index.ts
  multisig/simulations/zksyncmainnet/vip-005/abi/NativeTokenGateway.json
  multisig/simulations/zksyncmainnet/vip-005/index.ts
Labels: zkSync

#377 [VEN-2744]: IL configurations on Zksync
  .env.example
  .gitignore
  hardhat.config.zksync.ts
  multisig/proposals/zksyncmainnet/vip-004/index.ts
  multisig/simulations/zksyncmainnet/vip-004/abi/comptroller.json
  multisig/simulations/zksyncmainnet/vip-004/abi/erc20.json
  multisig/simulations/zksyncmainnet/vip-004/abi/poolRegistry.json
  multisig/simulations/zksyncmainnet/vip-004/abi/rateModel.json
  multisig/simulations/zksyncmainnet/vip-004/abi/vToken.json
  multisig/simulations/zksyncmainnet/vip-004/index.ts
  package.json
  simulations/vip-365/bscmainnet.ts
  src/networkAddresses.ts
  src/types.ts
  src/utils.ts
  src/vip-framework/index.ts
  vips/vip-365/bscmainnet.ts
Labels: zkSync

#367 [VEN-2746]: configure PSR on zksync mainnet
  multisig/proposals/zksyncmainnet/vip-009/index.ts
  multisig/simulations/zksyncmainnet/vip-009/abi/accessControlManager.json
  multisig/simulations/zksyncmainnet/vip-009/abi/protocolShareReserve.json
  multisig/simulations/zksyncmainnet/vip-009/index.ts
Labels: zkSync

#382 [VEN-2731] VIP for the Prime and PLP for opsepolia
  multisig/proposals/opsepolia/vip-006/index.ts
  multisig/simulations/opsepolia/vip-006/abi/ERC20.json
  multisig/simulations/opsepolia/vip-006/abi/Prime.json
  multisig/simulations/opsepolia/vip-006/abi/PrimeLiquidityProvider.json
  multisig/simulations/opsepolia/vip-006/abi/ResilientOracle.json
  multisig/simulations/opsepolia/vip-006/abi/SetterFacet.json
  multisig/simulations/opsepolia/vip-006/abi/XVS.json
  multisig/simulations/opsepolia/vip-006/abi/XVSVault.json
  multisig/simulations/opsepolia/vip-006/abi/comptroller.json
  multisig/simulations/opsepolia/vip-006/index.ts
  src/networkAddresses.ts
Labels: OP sepolia

#386 [VEN-2810][VEN-2811][VEN-2812]: VIP for VTreasury, ACM and Oracle on Opmainnet
  multisig/proposals/opmainnet/vip-000/index.ts
  multisig/simulations/opmainnet/index.ts
  multisig/simulations/opmainnet/vip-000/abi/boundValidator.json
  multisig/simulations/opmainnet/vip-000/abi/chainlinkOracle.json
  multisig/simulations/opmainnet/vip-000/abi/resilientOracle.json
  multisig/simulations/opmainnet/vip-000/abi/treasury.json
  multisig/simulations/opmainnet/vip-000/index.ts
  simulations/vip-368/bscmainnet.ts
  src/multisig/utils.ts
  src/networkAddresses.ts
  vips/vip-368/bscmainnet.ts
Labels: OP mainnet

#387 [VEN-2752][VEN-2751][VEN-2829]: add vip for rewards on zksync mainnet and bootstrap liquidity of XVS
  multisig/proposals/zksyncmainnet/vip-006/index.ts
  multisig/proposals/zksyncmainnet/vip-008/index.ts
  multisig/proposals/zksyncmainnet/vip-009/index.ts
  multisig/proposals/zksyncsepolia/vip-006/index.ts
  multisig/proposals/zksyncsepolia/vip-007/addendum.ts
  multisig/simulations/zksyncmainnet/vip-006/abi/accessControlManager.json
  multisig/simulations/zksyncmainnet/vip-006/abi/protocolShareReserve.json
  multisig/simulations/zksyncmainnet/vip-006/index.ts
  multisig/simulations/zksyncmainnet/vip-008/abi/XVSVaultProxy.json
  multisig/simulations/zksyncmainnet/vip-008/abi/xvs.json
  multisig/simulations/zksyncmainnet/vip-008/index.ts
  multisig/simulations/zksyncmainnet/vip-009/index.ts
  multisig/simulations/zksyncsepolia/vip-006/abi/accessControlManager.json
  multisig/simulations/zksyncsepolia/vip-006/abi/protocolShareReserve.json
  multisig/simulations/zksyncsepolia/vip-006/index.ts
  multisig/simulations/zksyncsepolia/vip-007/addendum.ts
  simulations/vip-369/abi/Comptroller.json
  simulations/vip-369/abi/ERC20.json
  simulations/vip-369/abi/VTreasury.json
  simulations/vip-369/abi/XVSProxyOFTSrc.json
  simulations/vip-369/bscmainnet.ts
  vips/vip-369/bscmainnet.ts
Labels: zkSync
