Repository VenusProtocol/vips, pull requests merged in 2024-06, with the labels that each got.

#248 [VEN-2497][VEN-2505]: IL core pool configuration on Arbitrum
  multisig/proposals/arbitrumone/vip-004/index.ts
  multisig/proposals/arbitrumsepolia/vip-004/index.ts
  multisig/simulations/arbitrumone/index.ts
  multisig/simulations/arbitrumone/vip-004/abi/comptroller.json
  multisig/simulations/arbitrumone/vip-004/abi/erc20.json
  multisig/simulations/arbitrumone/vip-004/abi/poolRegistry.json
  multisig/simulations/arbitrumone/vip-004/abi/rateModel.json
  multisig/simulations/arbitrumone/vip-004/abi/vToken.json
  multisig/simulations/arbitrumone/vip-004/index.ts
  multisig/simulations/arbitrumsepolia/index.ts
  multisig/simulations/arbitrumsepolia/vip-004/abi/comptroller.json
  multisig/simulations/arbitrumsepolia/vip-004/abi/erc20.json
  multisig/simulations/arbitrumsepolia/vip-004/abi/poolRegistry.json
  multisig/simulations/arbitrumsepolia/vip-004/abi/rateModel.json
  multisig/simulations/arbitrumsepolia/vip-004/abi/vToken.json
  multisig/simulations/arbitrumsepolia/vip-004/index.ts
  simulations/vip-320/simulations.ts
  src/networkAddresses.ts
  src/vip-framework/checks/checkVToken.ts
  vips/vip-320/bscmainnet.ts
Labels: arbitrum one, arbitrum sepolia

#252 [VEN-2509][VEN-2510]: NativeTokenGateway configuration on Arbitrum
  multisig/proposals/arbitrumone/vip-006/index.ts
  multisig/proposals/arbitrumsepolia/vip-006/index.ts
  multisig/simulations/arbitrumone/vip-006/abi/NativeTokenGateway.json
  multisig/simulations/arbitrumone/vip-006/index.ts
  multisig/simulations/arbitrumsepolia/vip-006/abi/NativeTokenGateway.json
  multisig/simulations/arbitrumsepolia/vip-006/index.ts
Labels: arbitrum one, arbitrum sepolia

#264 [VEN-2560][VEN-2563]: Enable Prime on Arbitrum
  multisig/proposals/arbitrumone/vip-007/index.ts
  multisig/proposals/arbitrumsepolia/vip-007/index.ts
  multisig/simulations/arbitrumone/vip-007/abi/ERC20.json
  multisig/simulations/arbitrumone/vip-007/abi/Prime.json
  multisig/simulations/arbitrumone/vip-007/abi/PrimeLiquidityProvider.json
  multisig/simulations/arbitrumone/vip-007/abi/ResilientOracle.json
  multisig/simulations/arbitrumone/vip-007/abi/SetterFacet.json
  multisig/simulations/arbitrumone/vip-007/abi/XVS.json
  multisig/simulations/arbitrumone/vip-007/abi/XVSVault.json
  multisig/simulations/arbitrumone/vip-007/index.ts
  multisig/simulations/arbitrumsepolia/vip-007/abi/ERC20.json
  multisig/simulations/arbitrumsepolia/vip-007/abi/Prime.json
  multisig/simulations/arbitrumsepolia/vip-007/abi/PrimeLiquidityProvider.json
  multisig/simulations/arbitrumsepolia/vip-007/abi/ResilientOracle.json
  multisig/simulations/arbitrumsepolia/vip-007/abi/SetterFacet.json
  multisig/simulations/arbitrumsepolia/vip-007/abi/XVS.json
  multisig/simulations/arbitrumsepolia/vip-007/abi/XVSVault.json
  multisig/simulations/arbitrumsepolia/vip-007/index.ts
Labels: arbitrum one, arbitrum sepolia

#292 [VEN-2617] Multisig VIP to accept VTreasury ownership for X Layer testnet
  .env.example
  hardhat.config.ts
  multisig/proposals/xlayertestnet/vip-000/index.ts
  multisig/simulations/xlayertestnet/index.ts
  multisig/simulations/xlayertestnet/vip-000/abi/treasury.json
  multisig/simulations/xlayertestnet/vip-000/index.ts
  src/multisig/utils.ts
  src/networkAddresses.ts
  src/networkConfig.ts
  src/types.ts
Labels: X Layer testnet

#304 [VEN-2639]: add rsETH market on Ethereum & Sepolia
  multisig/proposals/ethereum/vip-036/index.ts
  multisig/proposals/sepolia/vip-035/index.ts
  multisig/simulations/ethereum/index.ts
  multisig/simulations/ethereum/vip-036/abi/PoolRegistry.json
  multisig/simulations/ethereum/vip-036/abi/ResilientOracle.json
  multisig/simulations/ethereum/vip-036/abi/comptroller.json
  multisig/simulations/ethereum/vip-036/abi/vToken.json
  multisig/simulations/ethereum/vip-036/index.ts
  multisig/simulations/sepolia/vip-035/abi/PoolRegistry.json
  multisig/simulations/sepolia/vip-035/abi/ResilientOracle.json
  multisig/simulations/sepolia/vip-035/abi/comptroller.json
  multisig/simulations/sepolia/vip-035/abi/vToken.json
  multisig/simulations/sepolia/vip-035/abi/weth.json
  multisig/simulations/sepolia/vip-035/index.ts
  simulations/vip-324/simulations.ts
  src/networkAddresses.ts
  vips/vip-324/bscmainnet.ts
Labels: ethereum, sepolia

#274 [VEN-2579] [VEN-2643]: Enable RewardsDistributors on Arbitrum
  multisig/proposals/arbitrumone/vip-008/index.ts
  multisig/proposals/arbitrumsepolia/vip-008/index-addendum.ts
  multisig/proposals/arbitrumsepolia/vip-008/index.ts
  multisig/simulations/arbitrumone/vip-008/abi/XVSVaultProxy.json
  multisig/simulations/arbitrumone/vip-008/abi/xvs.json
  multisig/simulations/arbitrumone/vip-008/index.ts
  multisig/simulations/arbitrumsepolia/vip-008/abi/XVSVaultProxy.json
  multisig/simulations/arbitrumsepolia/vip-008/abi/xvs.json
  multisig/simulations/arbitrumsepolia/vip-008/index-addendum.ts
  multisig/simulations/arbitrumsepolia/vip-008/index.ts
  simulations/vip-323/abi/ERC20.json
  simulations/vip-323/abi/XVSProxyOFTSrc.json
  simulations/vip-323/bscmainnet.ts
  simulations/vip-323/bsctestnet.ts
  src/vip-framework/checks/rewardsDistributor.ts
  vips/vip-323/bscmainnet.ts
  vips/vip-323/bsctestnet.ts
Labels: arbitrum one, arbitrum sepolia

#303 [VEN-2638]: Enable TokenConverters and Prime markets on Ethereum and Sepolia
  multisig/proposals/ethereum/vip-037/Addresses.ts
  multisig/proposals/ethereum/vip-037/commands.ts
  multisig/proposals/ethereum/vip-037/index.ts
  multisig/proposals/sepolia/vip-037/Addresses.ts
  multisig/proposals/sepolia/vip-037/commands.ts
  multisig/proposals/sepolia/vip-037/index.ts
  multisig/simulations/ethereum/vip-037/abi/AccessControlManager.json
  multisig/simulations/ethereum/vip-037/abi/ConverterNetwork.json
  multisig/simulations/ethereum/vip-037/abi/ERC20.json
  multisig/simulations/ethereum/vip-037/abi/ILComptroller.json
  multisig/simulations/ethereum/vip-037/abi/Prime.json
  multisig/simulations/ethereum/vip-037/abi/PrimeLiquidityProvider.json
  multisig/simulations/ethereum/vip-037/abi/ProtocolShareReserve.json
  multisig/simulations/ethereum/vip-037/abi/SingleTokenConverter.json
  multisig/simulations/ethereum/vip-037/abi/SingleTokenConverterBeacon.json
  multisig/simulations/ethereum/vip-037/abi/XVSVaultTreasury.json
  multisig/simulations/ethereum/vip-037/index.ts
  multisig/simulations/sepolia/vip-037/abi/AccessControlManager.json
  multisig/simulations/sepolia/vip-037/abi/ConverterNetwork.json
  multisig/simulations/sepolia/vip-037/abi/ERC20.json
  multisig/simulations/sepolia/vip-037/abi/ILComptroller.json
  multisig/simulations/sepolia/vip-037/abi/Prime.json
  multisig/simulations/sepolia/vip-037/abi/PrimeLiquidityProvider.json
  multisig/simulations/sepolia/vip-037/abi/ProtocolShareReserve.json
  multisig/simulations/sepolia/vip-037/abi/SingleTokenConverter.json
  multisig/simulations/sepolia/vip-037/abi/XVSVaultTreasury.json
  multisig/simulations/sepolia/vip-037/index.ts
  simulations/vip-326/simulations.ts
  vips/vip-326/bscmainnet.ts
Labels: ethereum, sepolia

#311 Vip to set correct PoolRegistry address on PSR
  multisig/proposals/arbitrumsepolia/vip-011/index.ts
  multisig/simulations/arbitrumsepolia/vip-011/abi/ProtocolShareReserve.json
  multisig/simulations/arbitrumsepolia/vip-011/index.ts
Labels: arbitrum sepolia
