Repository VenusProtocol/vips, pull requests merged in 2024-12, with the labels that each got.

#434 [VEN-2940]: Add simulations for LBTC support
  multisig/proposals/ethereum/vip-071/index.ts
  multisig/simulations/ethereum/vip-071/abi/erc20.json
  multisig/simulations/ethereum/vip-071/index.ts
  simulations/vip-402/abi/OmnichainProposalSender.json
  simulations/vip-402/abi/PoolRegistry.json
  simulations/vip-402/abi/ResilientOracle.json
  simulations/vip-402/abi/SingleTokenConverter.json
  simulations/vip-402/abi/comptroller.json
  simulations/vip-402/abi/vToken.json
  simulations/vip-402/abi/weth.json
  simulations/vip-402/bscmainnet.ts
  simulations/vip-402/bsctestnet.ts
  simulations/vip-402/ethereum.ts
  simulations/vip-402/sepolia.ts
  src/utils.ts
  src/vip-framework/checks/checkIsolatedPoolsComptrollers.ts
  vips/vip-402/bscmainnet.ts
  vips/vip-402/bsctestnet.ts
Labels: ethereum, sepolia

#431 [VEN-2937]: permission given to timelocks on zksync and optimism
  hardhat.config.zksync.ts
  package.json
  simulations/vip-403/abi/ACMCommandsAggregator.json
  simulations/vip-403/abi/AccessControlManager.json
  simulations/vip-403/abi/OmnichainProposalSender.json
  simulations/vip-403/arbitrumone.ts
  simulations/vip-403/arbitrumsepolia.ts
  simulations/vip-403/bscmainnet.ts
  simulations/vip-403/bsctestnet.ts
  simulations/vip-403/ethereum.ts
  simulations/vip-403/opbnbmainnet.ts
  simulations/vip-403/opbnbtestnet.ts
  simulations/vip-403/opmainnet.ts
  simulations/vip-403/opsepolia.ts
  simulations/vip-403/sepolia.ts
  simulations/vip-403/zksyncmainnet.ts
  simulations/vip-403/zksyncsepolia.ts
  src/networkAddresses.ts
  vips/vip-403/bscmainnet.ts
  vips/vip-403/bsctestnet.ts
Labels: multichain, OP sepolia, zkSync sepolia, zkSync, OP mainnet

#433 [VEN-2882] Multichain Governance on Base Sepolia and Mainnet
  multisig/proposals/basemainnet/vip-006/index.ts
  multisig/proposals/basesepolia/vip-006/index.ts
  multisig/simulations/basemainnet/vip-006/abi/AccessControlManager.json
  multisig/simulations/basemainnet/vip-006/index.ts
  multisig/simulations/basesepolia/vip-006/abi/AccessControlManager.json
  multisig/simulations/basesepolia/vip-006/index.ts
  simulations/vip-408/abi/ACMAggregator.json
  simulations/vip-408/abi/AccessControlManager_ABI.json
  simulations/vip-408/abi/ERC20.json
  simulations/vip-408/abi/OmnichainExecutorOwner_ABI.json
  simulations/vip-408/abi/OmnichainGovernanceExecutor_ABI.json
  simulations/vip-408/abi/OmnichainProposalSender.json
  simulations/vip-408/abi/VtreasuryAbi.json
  simulations/vip-408/basemainnet.ts
  simulations/vip-408/basesepolia.ts
  simulations/vip-408/bscmainnet.ts
  simulations/vip-408/bsctestnet.ts
  src/networkAddresses.ts
  src/types.ts
  src/vip-framework/index.ts
  vips/vip-408/bscmainnet.ts
  vips/vip-408/bsctestnet.ts
Labels: base sepolia, base mainnet

#432 [VEN-2880] Deploy Prime to Base Sepolia and Mainnet
  multisig/proposals/basemainnet/vip-005/index.ts
  multisig/proposals/basemainnet/vip-006/index.ts
  multisig/proposals/basesepolia/vip-005/index.ts
  multisig/proposals/basesepolia/vip-006/index.ts
  multisig/simulations/basemainnet/vip-005/abis/Comptroller.json
  multisig/simulations/basemainnet/vip-005/abis/ERC20.json
  multisig/simulations/basemainnet/vip-005/abis/Prime.json
  multisig/simulations/basemainnet/vip-005/abis/PrimeLiquidityProvider.json
  multisig/simulations/basemainnet/vip-005/abis/ResilientOracle.json
  multisig/simulations/basemainnet/vip-005/abis/SetterFacet.json
  multisig/simulations/basemainnet/vip-005/abis/XVS.json
  multisig/simulations/basemainnet/vip-005/abis/XVSVault.json
  multisig/simulations/basemainnet/vip-005/index.ts
  multisig/simulations/basemainnet/vip-006/abi/AccessControlManager.json
  multisig/simulations/basemainnet/vip-006/index.ts
  multisig/simulations/basesepolia/vip-005/abis/Comptroller.json
  multisig/simulations/basesepolia/vip-005/abis/ERC20.json
  multisig/simulations/basesepolia/vip-005/abis/Prime.json
  multisig/simulations/basesepolia/vip-005/abis/PrimeLiquidityProvider.json
  multisig/simulations/basesepolia/vip-005/abis/ResilientOracle.json
  multisig/simulations/basesepolia/vip-005/abis/SetterFacet.json
  multisig/simulations/basesepolia/vip-005/abis/XVS.json
  multisig/simulations/basesepolia/vip-005/abis/XVSVault.json
  multisig/simulations/basesepolia/vip-005/index.ts
  multisig/simulations/basesepolia/vip-006/abi/AccessControlManager.json
  multisig/simulations/basesepolia/vip-006/index.ts
  simulations/vip-408/abi/ACMAggregator.json
  simulations/vip-408/abi/AccessControlManager_ABI.json
  simulations/vip-408/abi/ERC20.json
  simulations/vip-408/abi/OmnichainExecutorOwner_ABI.json
  simulations/vip-408/abi/OmnichainGovernanceExecutor_ABI.json
  simulations/vip-408/abi/OmnichainProposalSender.json
  simulations/vip-408/abi/VtreasuryAbi.json
  simulations/vip-408/basemainnet.ts
  simulations/vip-408/basesepolia.ts
  simulations/vip-408/bscmainnet.ts
  simulations/vip-408/bsctestnet.ts
  src/networkAddresses.ts
  src/types.ts
  src/vip-framework/index.ts
  vips/vip-408/bscmainnet.ts
  vips/vip-408/bsctestnet.ts
Labels: base sepolia, base mainnet

#427 [VEN-2879] Deploy IL Markets and Pools to Base Sepolia and Mainnet
  multisig/proposals/basemainnet/vip-004/index.ts
  multisig/proposals/basemainnet/vip-005/index.ts
  multisig/proposals/basemainnet/vip-006/index.ts
  multisig/proposals/basesepolia/vip-004/index.ts
  multisig/proposals/basesepolia/vip-005/index.ts
  multisig/proposals/basesepolia/vip-006/index.ts
  multisig/simulations/basemainnet/vip-004/abi/comptroller.json
  multisig/simulations/basemainnet/vip-004/abi/erc20.json
  multisig/simulations/basemainnet/vip-004/abi/poolRegistry.json
  multisig/simulations/basemainnet/vip-004/abi/vToken.json
  multisig/simulations/basemainnet/vip-004/index.ts
  multisig/simulations/basemainnet/vip-005/abis/Comptroller.json
  multisig/simulations/basemainnet/vip-005/abis/ERC20.json
  multisig/simulations/basemainnet/vip-005/abis/Prime.json
  multisig/simulations/basemainnet/vip-005/abis/PrimeLiquidityProvider.json
  multisig/simulations/basemainnet/vip-005/abis/ResilientOracle.json
  multisig/simulations/basemainnet/vip-005/abis/SetterFacet.json
  multisig/simulations/basemainnet/vip-005/abis/XVS.json
  multisig/simulations/basemainnet/vip-005/abis/XVSVault.json
  multisig/simulations/basemainnet/vip-005/index.ts
  multisig/simulations/basemainnet/vip-006/abi/AccessControlManager.json
  multisig/simulations/basemainnet/vip-006/index.ts
  multisig/simulations/basesepolia/vip-004/abi/WETH.json
  multisig/simulations/basesepolia/vip-004/abi/comptroller.json
  multisig/simulations/basesepolia/vip-004/abi/erc20.json
  multisig/simulations/basesepolia/vip-004/abi/poolRegistry.json
  multisig/simulations/basesepolia/vip-004/abi/vToken.json
  multisig/simulations/basesepolia/vip-004/index.ts
  multisig/simulations/basesepolia/vip-005/abis/Comptroller.json
  multisig/simulations/basesepolia/vip-005/abis/ERC20.json
  multisig/simulations/basesepolia/vip-005/abis/Prime.json
  multisig/simulations/basesepolia/vip-005/abis/PrimeLiquidityProvider.json
  multisig/simulations/basesepolia/vip-005/abis/ResilientOracle.json
  multisig/simulations/basesepolia/vip-005/abis/SetterFacet.json
  multisig/simulations/basesepolia/vip-005/abis/XVS.json
  multisig/simulations/basesepolia/vip-005/abis/XVSVault.json
  multisig/simulations/basesepolia/vip-005/index.ts
  multisig/simulations/basesepolia/vip-006/abi/AccessControlManager.json
  multisig/simulations/basesepolia/vip-006/index.ts
  simulations/vip-408/abi/ACMAggregator.json
  simulations/vip-408/abi/AccessControlManager_ABI.json
  simulations/vip-408/abi/ERC20.json
  simulations/vip-408/abi/OmnichainExecutorOwner_ABI.json
  simulations/vip-408/abi/OmnichainGovernanceExecutor_ABI.json
  simulations/vip-408/abi/OmnichainProposalSender.json
  simulations/vip-408/abi/VtreasuryAbi.json
  simulations/vip-408/basemainnet.ts
  simulations/vip-408/basesepolia.ts
  simulations/vip-408/bscmainnet.ts
  simulations/vip-408/bsctestnet.ts
  src/networkAddresses.ts
  src/types.ts
  src/vip-framework/index.ts
  vips/vip-408/bscmainnet.ts
  vips/vip-408/bsctestnet.ts
Labels: base sepolia, base mainnet

#440 [VEN-2968]: Ethena pool on Ethereum
  multisig/proposals/ethereum/vip-072/index.ts
  multisig/simulations/ethereum/vip-072/abi/VTreasury.json
  multisig/simulations/ethereum/vip-072/index.ts
  simulations/vip-411/abi/OmnichainProposalSender.json
  simulations/vip-411/abi/ResilientOracle.json
  simulations/vip-411/abi/SingleTokenConverter.json
  simulations/vip-411/abi/comptroller.json
  simulations/vip-411/abi/erc20.json
  simulations/vip-411/abi/poolRegistry.json
  simulations/vip-411/abi/vToken.json
  simulations/vip-411/bscmainnet.ts
  simulations/vip-411/bsctestnet.ts
  simulations/vip-411/ethereum.ts
  simulations/vip-411/sepolia.ts
  simulations/vip-412/abi/OmnichainProposalSender.json
  simulations/vip-412/abi/ResilientOracle.json
  simulations/vip-412/abi/SingleTokenConverter.json
  simulations/vip-412/abi/comptroller.json
  simulations/vip-412/abi/erc20.json
  simulations/vip-412/abi/poolRegistry.json
  simulations/vip-412/abi/vToken.json
  simulations/vip-412/bscmainnet.ts
  simulations/vip-412/bsctestnet-addendum.ts
  simulations/vip-412/bsctestnet.ts
  simulations/vip-412/ethereum.ts
  simulations/vip-412/sepolia-addendum.ts
  simulations/vip-412/sepolia.ts
  src/utils.ts
  vips/vip-411/bscmainnet.ts
  vips/vip-411/bsctestnet.ts
  vips/vip-412/bscmainnet.ts
  vips/vip-412/bsctestnet-addendum.ts
  vips/vip-412/bsctestnet.ts
Labels: ethereum, sepolia
