Repository VenusProtocol/vips, pull requests merged in 2024-04, with the labels that each got.

#230 [VEN-2310]: Configure rewards in the XVSVault on Ethereum
  multisig/proposals/ethereum/vip-006/index.ts
  multisig/simulations/ethereum/vip-006/abi/xvs.json
  multisig/simulations/ethereum/vip-006/index.ts
Labels: ethereum

#247 [VEN-2495]: VIP for Oracle Configuration on Arbitrum Sepolia
  hardhat.config.ts
  multisig/proposals/arbitrumsepolia/vip-001/index.ts
  multisig/simulations/arbitrumsepolia/vip-001/abi/boundValidator.json
  multisig/simulations/arbitrumsepolia/vip-001/abi/chainlinkOracle.json
  multisig/simulations/arbitrumsepolia/vip-001/abi/resilientOracle.json
  multisig/simulations/arbitrumsepolia/vip-001/index.ts
  src/networkAddresses.ts
Labels: arbitrum sepolia

#255 [VEN-2519]: Configure XVS Bridge Ethereum <-> opBNB
  multisig/proposals/ethereum/vip-021/index.ts
  multisig/proposals/opbnbmainnet/vip-009/index.ts
  multisig/proposals/opbnbtestnet/vip-009/index.ts
  multisig/proposals/sepolia/vip-021/index.ts
  multisig/simulations/ethereum/index.ts
  multisig/simulations/ethereum/vip-021/abi/xvs.json
  multisig/simulations/ethereum/vip-021/abi/xvsProxyOFTDest.json
  multisig/simulations/ethereum/vip-021/index.ts
  multisig/simulations/opbnbmainnet/index.ts
  multisig/simulations/opbnbmainnet/vip-009/abi/xvs.json
  multisig/simulations/opbnbmainnet/vip-009/abi/xvsProxyOFTDest.json
  multisig/simulations/opbnbmainnet/vip-009/index.ts
  multisig/simulations/opbnbtestnet/index.ts
  multisig/simulations/opbnbtestnet/vip-009/abi/xvs.json
  multisig/simulations/opbnbtestnet/vip-009/abi/xvsProxyOFTDest.json
  multisig/simulations/opbnbtestnet/vip-009/index.ts
  multisig/simulations/sepolia/index.ts
  multisig/simulations/sepolia/vip-021/abi/xvs.json
  multisig/simulations/sepolia/vip-021/abi/xvsProxyOFTDest.json
  multisig/simulations/sepolia/vip-021/index.ts
  simulations/vip-292/abi/XVSProxyOFTSrc.json
  simulations/vip-292/simulations.ts
  vips/vip-292/bscmainnet.ts
Labels: opBNB, ethereum

#267 [VEN-2552]: add TUSD market to core pool on ethereum
  multisig/proposals/ethereum/vip-024/index.ts
  multisig/proposals/sepolia/vip-023/index.ts
  multisig/proposals/sepolia/vip-024/index.ts
  multisig/simulations/ethereum/index.ts
  multisig/simulations/ethereum/vip-023/index.ts
  multisig/simulations/ethereum/vip-024/abi/ComptrollerAbi.json
  multisig/simulations/ethereum/vip-024/abi/PoolRegistryAbi.json
  multisig/simulations/ethereum/vip-024/abi/ResilientOracleAbi.json
  multisig/simulations/ethereum/vip-024/abi/VTokenAbi.json
  multisig/simulations/ethereum/vip-024/index.ts
  multisig/simulations/sepolia/index.ts
  multisig/simulations/sepolia/vip-023/index.ts
  multisig/simulations/sepolia/vip-024/abi/ComptrollerAbi.json
  multisig/simulations/sepolia/vip-024/abi/PoolRegistryAbi.json
  multisig/simulations/sepolia/vip-024/abi/ResilientOracleAbi.json
  multisig/simulations/sepolia/vip-024/abi/VTokenAbi.json
  multisig/simulations/sepolia/vip-024/index.ts
  simulations/vip-296/abi/VTreasuryAbi.json
  simulations/vip-296/abi/usdtAbi.json
  simulations/vip-296/simulations.ts
  vips/vip-296/bscmainnet.ts
Labels: ethereum, sepolia
