Repository VenusProtocol/vips, pull requests merged in 2024-08, with the labels that each got.

#332 [VEN-2680]: Oracle configurations on zksyncsepolia
  multisig/proposals/zksyncsepolia/vip-001/index.ts
  multisig/simulations/zksyncsepolia/vip-001/abi/boundValidator.json
  multisig/simulations/zksyncsepolia/vip-001/abi/chainlinkOracle.json
  multisig/simulations/zksyncsepolia/vip-001/abi/resilientOracle.json
  multisig/simulations/zksyncsepolia/vip-001/index.ts
  package.json
  src/networkAddresses.ts
  yarn.lock
Labels: zkSync sepolia

#334 [VEN-2684]: IL configurations on Zksync
  multisig/proposals/zksyncsepolia/vip-004/index.ts
  multisig/simulations/zksyncsepolia/vip-004/abi/comptroller.json
  multisig/simulations/zksyncsepolia/vip-004/abi/erc20.json
  multisig/simulations/zksyncsepolia/vip-004/abi/poolRegistry.json
  multisig/simulations/zksyncsepolia/vip-004/abi/rateModel.json
  multisig/simulations/zksyncsepolia/vip-004/abi/vToken.json
  multisig/simulations/zksyncsepolia/vip-004/index.ts
  src/networkAddresses.ts
Labels: zkSync sepolia

#331 [VEN-2706]: VIP to update rewards on Ethereum markets
  multisig/proposals/ethereum/vip-052/index.ts
  multisig/simulations/ethereum/vip-052/abi/RewardsDistributor.json
  multisig/simulations/ethereum/vip-052/index.ts
  simulations/vip-348/simulations.ts
  vips/vip-348/bscmainnet.ts
Labels: ethereum

#340 [VEN-2682]: Vip for XVS bridge for zksyncsepolia
  multisig/proposals/zksyncsepolia/vip-002/index.ts
  multisig/simulations/zksyncsepolia/vip-002/abi/xvs.json
  multisig/simulations/zksyncsepolia/vip-002/abi/xvsBridgeAdmin.json
  multisig/simulations/zksyncsepolia/vip-002/abi/xvsProxyOFTDest.json
  multisig/simulations/zksyncsepolia/vip-002/index.ts
Labels: zkSync sepolia

#335 [VEN-2683]: XVS Vault configurations on zksync sepolia
  multisig/proposals/zksyncsepolia/vip-003/index.ts
  multisig/simulations/zksyncsepolia/vip-003/abi/acm.json
  multisig/simulations/zksyncsepolia/vip-003/abi/xvs.json
  multisig/simulations/zksyncsepolia/vip-003/abi/xvsstore.json
  multisig/simulations/zksyncsepolia/vip-003/abi/xvsvault.json
  multisig/simulations/zksyncsepolia/vip-003/index.ts
  src/networkAddresses.ts
  src/utils.ts
  src/vip-framework/checks/checkXVSVault.ts
Labels: zkSync sepolia

#336 [VEN-2685]: NTG on zksync sepolia
  multisig/proposals/zksyncsepolia/vip-005/index.ts
  multisig/simulations/zksyncsepolia/vip-005/abi/NativeTokenGateway.json
  multisig/simulations/zksyncsepolia/vip-005/index.ts
Labels: zkSync sepolia

#346 [VEN-2688]: Prime configurations on Zksync sepolia
  multisig/proposals/zksyncsepolia/vip-006/index.ts
  multisig/proposals/zksyncsepolia/vip-007/index.ts
  multisig/simulations/zksyncsepolia/vip-006/abi/XVSVault.json
  multisig/simulations/zksyncsepolia/vip-006/index.ts
  multisig/simulations/zksyncsepolia/vip-007/abi/Comptroller.json
  multisig/simulations/zksyncsepolia/vip-007/abi/Prime.json
  multisig/simulations/zksyncsepolia/vip-007/abi/PrimeLiquidityProvider.json
  multisig/simulations/zksyncsepolia/vip-007/abi/XVS.json
  multisig/simulations/zksyncsepolia/vip-007/abi/XVSVault.json
  multisig/simulations/zksyncsepolia/vip-007/index.ts
Labels: zkSync sepolia

#348 [VEN-2692]: Core pool Reward distributor on Zksync sepolia
  multisig/proposals/zksyncsepolia/vip-008/index.ts
  multisig/simulations/zksyncsepolia/vip-008/abi/XVSVaultProxy.json
  multisig/simulations/zksyncsepolia/vip-008/abi/xvs.json
  multisig/simulations/zksyncsepolia/vip-008/index.ts
  simulations/vip-350/abi/Comptroller.json
  simulations/vip-350/abi/ERC20.json
  simulations/vip-350/abi/VTreasury.json
  simulations/vip-350/abi/XVSProxyOFTSrc.json
  simulations/vip-350/bsctestnet.ts
  src/vip-framework/checks/rewardsDistributor.ts
  vips/vip-350/bsctestnet.ts
Labels: zkSync sepolia

#337 [VEN-2686] : PSR configurations on zksync sepolia
  multisig/proposals/zksyncsepolia/vip-009/index.ts
  multisig/simulations/zksyncsepolia/vip-009/abi/accessControlManager.json
  multisig/simulations/zksyncsepolia/vip-009/abi/protocolShareReserve.json
  multisig/simulations/zksyncsepolia/vip-009/index.ts
Labels: zkSync sepolia

#338 [VEN-2708] Transfer to the new RewardsDistributor the rewards not allocated in the old ones
  multisig/proposals/ethereum/vip-054/index.ts
  multisig/simulations/ethereum/vip-054/abi/RewardsDistributor.json
  multisig/simulations/ethereum/vip-054/abi/xvs.json
  multisig/simulations/ethereum/vip-054/index.ts
  simulations/vip-352/simulations.ts
  vips/vip-352/bscmainnet.ts
Labels: ethereum

#349 [VEN-2712] add vip for the Liquid staked ETH pool for arbitrum sepolia
  multisig/proposals/arbitrumsepolia/vip-015/index.ts
  multisig/simulations/arbitrumsepolia/vip-015/abi/WETH.json
  multisig/simulations/arbitrumsepolia/vip-015/abi/beacon.json
  multisig/simulations/arbitrumsepolia/vip-015/abi/comptroller.json
  multisig/simulations/arbitrumsepolia/vip-015/abi/erc20.json
  multisig/simulations/arbitrumsepolia/vip-015/abi/mockToken.json
  multisig/simulations/arbitrumsepolia/vip-015/abi/poolRegistry.json
  multisig/simulations/arbitrumsepolia/vip-015/abi/vToken.json
  multisig/simulations/arbitrumsepolia/vip-015/index.ts
Labels: arbitrum sepolia

#360 [VEN-2739]: Treasury on Zksync
  .env.example
  hardhat.config.zksync.ts
  multisig/proposals/zksyncmainnet/vip-000/index.ts
  multisig/proposals/zksyncmainnet/vip-001/index.ts
  multisig/simulations/zksyncmainnet/vip-000/abi/treasury.json
  multisig/simulations/zksyncmainnet/vip-000/index.ts
  multisig/simulations/zksyncmainnet/vip-001/abi/boundValidator.json
  multisig/simulations/zksyncmainnet/vip-001/abi/chainlinkOracle.json
  multisig/simulations/zksyncmainnet/vip-001/abi/resilientOracle.json
  multisig/simulations/zksyncmainnet/vip-001/index.ts
  simulations/vip-356/bscmainnet.ts
  src/networkAddresses.ts
  src/networkConfig.ts
  src/types.ts
  type-extensions.ts
  vips/vip-356/bscmainnet.ts
Labels: zkSync

#362 [VEN-2741]: Bridge configurations on zksync mainnet
  multisig/proposals/arbitrumone/vip-011/index.ts
  multisig/proposals/ethereum/vip-057/index.ts
  multisig/proposals/opbnbmainnet/vip-020/index.ts
  multisig/proposals/zksyncmainnet/vip-002/index.ts
  multisig/simulations/arbitrumone/vip-011/abi/xvs.json
  multisig/simulations/arbitrumone/vip-011/abi/xvsProxyOFTDest.json
  multisig/simulations/arbitrumone/vip-011/index.ts
  multisig/simulations/ethereum/vip-057/abi/xvs.json
  multisig/simulations/ethereum/vip-057/abi/xvsProxyOFTDest.json
  multisig/simulations/ethereum/vip-057/index.ts
  multisig/simulations/opbnbmainnet/vip-020/abi/xvs.json
  multisig/simulations/opbnbmainnet/vip-020/abi/xvsProxyOFTDest.json
  multisig/simulations/opbnbmainnet/vip-020/index.ts
  multisig/simulations/zksyncmainnet/vip-002/abi/xvs.json
  multisig/simulations/zksyncmainnet/vip-002/abi/xvsBridgeAdmin.json
  multisig/simulations/zksyncmainnet/vip-002/abi/xvsProxyOFTDest.json
  multisig/simulations/zksyncmainnet/vip-002/index.ts
  simulations/vip-358/abi/xvs.json
  simulations/vip-358/abi/xvsBridgeAdmin.json
  simulations/vip-358/abi/xvsProxyOFTSrc.json
  simulations/vip-358/bscmainnet.ts
  src/networkAddresses.ts
  vips/vip-358/bscmainnet.ts
Labels: zkSync
