Repository VenusProtocol/vips, pull requests merged in 2025-02, with the labels that each got.

#472 [VEN-3036]: BAL market in Core pool of Ethereum & sepolia
  simulations/vip-442/abi/OmnichainProposalSender.json
  simulations/vip-442/abi/PoolRegistry.json
  simulations/vip-442/abi/ResilientOracle.json
  simulations/vip-442/abi/SingleTokenConverter.json
  simulations/vip-442/abi/comptroller.json
  simulations/vip-442/abi/treasury.json
  simulations/vip-442/abi/vToken.json
  simulations/vip-442/bscmainnet.ts
  simulations/vip-442/bsctestnet.ts
  simulations/vip-442/ethereum.ts
  simulations/vip-442/sepolia.ts
  src/vip-framework/checks/checkIsolatedPoolsComptrollers.ts
  vips/vip-442/bscmainnet.ts
  vips/vip-442/bsctestnet.ts
Labels: ethereum, sepolia

#477 [VEN-2906]: Oracles and VTreasury on unichainsepolia
  .env.example
  hardhat.config.ts
  multisig/proposals/unichainsepolia/vip-000/index.ts
  multisig/simulations/unichainsepolia/vip-000/abi/boundValidator.json
  multisig/simulations/unichainsepolia/vip-000/abi/redstoneOracle.json
  multisig/simulations/unichainsepolia/vip-000/abi/resilientOracle.json
  multisig/simulations/unichainsepolia/vip-000/abi/treasury.json
  multisig/simulations/unichainsepolia/vip-000/index.ts
  src/chains.ts
  src/multisig/utils.ts
  src/networkAddresses.ts
  src/networkConfig.ts
  type-extensions.ts
Labels: unichain sepolia

#479 [VEN-2909]: xvs vault on unichainsepolia
  multisig/proposals/unichainsepolia/vip-001/index.ts
  multisig/simulations/unichainsepolia/vip-001/abi/acm.json
  multisig/simulations/unichainsepolia/vip-001/abi/xvs.json
  multisig/simulations/unichainsepolia/vip-001/abi/xvsstore.json
  multisig/simulations/unichainsepolia/vip-001/abi/xvsvault.json
  multisig/simulations/unichainsepolia/vip-001/index.ts
  src/networkAddresses.ts
Labels: unichain sepolia

#487 [VEN-3058]: vip for treasury on unichain
  .env.example
  hardhat.config.ts
  multisig/proposals/unichainmainnet/vip-000/index.ts
  multisig/simulations/unichainmainnet/vip-000/abi/treasury.json
  multisig/simulations/unichainmainnet/vip-000/index.ts
  src/chains.ts
  src/networkAddresses.ts
  src/networkConfig.ts
  type-extensions.ts
Labels: unichain mainnet

#490 [ven-3060]: Configure Oracles on Unichain
  multisig/proposals/unichainmainnet/vip-001/index.ts
  multisig/simulations/unichainmainnet/vip-001/abi/boundValidator.json
  multisig/simulations/unichainmainnet/vip-001/abi/redstoneOracle.json
  multisig/simulations/unichainmainnet/vip-001/abi/resilientOracle.json
  multisig/simulations/unichainmainnet/vip-001/index.ts
  src/networkAddresses.ts
Labels: unichain mainnet

#488 [ven-3063]: XVS vault on Unichain mainnet
  multisig/proposals/unichainmainnet/vip-002/index.ts
  multisig/simulations/unichainmainnet/vip-002/abi/acm.json
  multisig/simulations/unichainmainnet/vip-002/abi/xvs.json
  multisig/simulations/unichainmainnet/vip-002/abi/xvsstore.json
  multisig/simulations/unichainmainnet/vip-002/abi/xvsvault.json
  multisig/simulations/unichainmainnet/vip-002/index.ts
  src/networkAddresses.ts
Labels: unichain mainnet

#491 [ven-3065]: Market configuration on Unichain
  multisig/proposals/unichainmainnet/vip-004/index.ts
  multisig/simulations/unichainmainnet/vip-004/abi/comptroller.json
  multisig/simulations/unichainmainnet/vip-004/abi/erc20.json
  multisig/simulations/unichainmainnet/vip-004/abi/poolRegistry.json
  multisig/simulations/unichainmainnet/vip-004/abi/rateModel.json
  multisig/simulations/unichainmainnet/vip-004/abi/vToken.json
  multisig/simulations/unichainmainnet/vip-004/index.ts
  src/networkAddresses.ts
Labels: unichain mainnet

#492 [ven-3066]: Configure NTG & PSR on unichain
  multisig/proposals/unichainmainnet/vip-005/index.ts
  multisig/simulations/unichainmainnet/vip-005/abi/NativeTokenGateway.json
  multisig/simulations/unichainmainnet/vip-005/abi/accessControlManager.json
  multisig/simulations/unichainmainnet/vip-005/abi/protocolShareReserve.json
  multisig/simulations/unichainmainnet/vip-005/index.ts
Labels: unichain mainnet

#493 [ven-3067]: Prime on Unichain
  multisig/proposals/unichainmainnet/vip-006/index.ts
  multisig/simulations/unichainmainnet/vip-006/abi/ERC20.json
  multisig/simulations/unichainmainnet/vip-006/abi/Prime.json
  multisig/simulations/unichainmainnet/vip-006/abi/PrimeLiquidityProvider.json
  multisig/simulations/unichainmainnet/vip-006/abi/XVS.json
  multisig/simulations/unichainmainnet/vip-006/abi/XVSVault.json
  multisig/simulations/unichainmainnet/vip-006/abi/comptroller.json
  multisig/simulations/unichainmainnet/vip-006/index.ts
Labels: unichain mainnet

#499 [VEN-2910]: IL on unichainsepolia
  multisig/proposals/unichainsepolia/vip-002/index.ts
  multisig/proposals/unichainsepolia/vip-004/index.ts
  multisig/simulations/unichainsepolia/vip-002/abi/acm.json
  multisig/simulations/unichainsepolia/vip-002/abi/xvs.json
  multisig/simulations/unichainsepolia/vip-002/abi/xvsstore.json
  multisig/simulations/unichainsepolia/vip-002/abi/xvsvault.json
  multisig/simulations/unichainsepolia/vip-002/index.ts
  multisig/simulations/unichainsepolia/vip-004/abi/comptroller.json
  multisig/simulations/unichainsepolia/vip-004/abi/erc20.json
  multisig/simulations/unichainsepolia/vip-004/abi/poolRegistry.json
  multisig/simulations/unichainsepolia/vip-004/abi/rateModel.json
  multisig/simulations/unichainsepolia/vip-004/abi/vToken.json
  multisig/simulations/unichainsepolia/vip-004/index.ts
  src/networkAddresses.ts
Labels: unichain sepolia

#482 [VEN-2911]: NTG configuration on unichainsepolia
  multisig/proposals/unichainsepolia/vip-005/index.ts
  multisig/simulations/unichainsepolia/vip-005/abi/AccessControlManager.json
  multisig/simulations/unichainsepolia/vip-005/abi/NativeTokenGateway.json
  multisig/simulations/unichainsepolia/vip-005/abi/ProtocolShareReserve.json
  multisig/simulations/unichainsepolia/vip-005/index.ts
Labels: unichain sepolia

#489 [VEN-3061]: XVS & XVS bridge on unichain
  multisig/proposals/unichainmainnet/vip-003/index.ts
  multisig/simulations/unichainmainnet/vip-003/abi/xvs.json
  multisig/simulations/unichainmainnet/vip-003/abi/xvsBridgeAdmin.json
  multisig/simulations/unichainmainnet/vip-003/abi/xvsProxyOFTDest.json
  multisig/simulations/unichainmainnet/vip-003/index.ts
  simulations/vip-452/abi/CoreComptroller.json
  simulations/vip-452/abi/OmnichainProposalSender.json
  simulations/vip-452/abi/VTreasury.json
  simulations/vip-452/abi/XVS.json
  simulations/vip-452/abi/XVSBridgeAdmin.json
  simulations/vip-452/abi/XVSProxyOFTSrc.json
  simulations/vip-452/abi/aggregator.json
  simulations/vip-452/abi/erc20.json
  simulations/vip-452/abi/redstoneOracle.json
  simulations/vip-452/abi/resilientOracle.json
  simulations/vip-452/arbitrumone.ts
  simulations/vip-452/basemainnet.ts
  simulations/vip-452/bscmainnet.ts
  simulations/vip-452/checkXVSBridge.ts
  simulations/vip-452/ethereum.ts
  simulations/vip-452/opbnbmainnet.ts
  simulations/vip-452/opmainnet.ts
  simulations/vip-452/zksyncmainnet.ts
  src/types.ts
  vips/vip-452/bscmainnet.ts
  vips/vip-452/types.ts
Labels: unichain mainnet

#478 [VEN-2908]: XVS bridge on unichainsepolia
  multisig/proposals/unichainsepolia/vip-003/index.ts
  multisig/simulations/unichainsepolia/vip-003/abi/xvs.json
  multisig/simulations/unichainsepolia/vip-003/abi/xvsBridgeAdmin.json
  multisig/simulations/unichainsepolia/vip-003/abi/xvsProxyOFTDest.json
  multisig/simulations/unichainsepolia/vip-003/index.ts
  simulations/vip-452/arbitrumsepolia.ts
  simulations/vip-452/basesepolia.ts
  simulations/vip-452/bsctestnet.ts
  simulations/vip-452/opbnbtestnet.ts
  simulations/vip-452/opsepolia.ts
  simulations/vip-452/sepolia.ts
  simulations/vip-452/zksyncsepolia.ts
  src/types.ts
  vips/vip-452/bsctestnet.ts
Labels: unichain sepolia

#500 [VEN-2915]: Prime configuration on unichainsepolia
  multisig/proposals/unichainsepolia/vip-006/index.ts
  multisig/simulations/unichainsepolia/vip-006/abi/Comptroller.json
  multisig/simulations/unichainsepolia/vip-006/abi/Prime.json
  multisig/simulations/unichainsepolia/vip-006/abi/PrimeLiquidityProvider.json
  multisig/simulations/unichainsepolia/vip-006/abi/XVS.json
  multisig/simulations/unichainsepolia/vip-006/abi/XVSVault.json
  multisig/simulations/unichainsepolia/vip-006/index.ts
Labels: unichain sepolia

#498 [VEN-2913]: Omnichain Governance on Unichain
  multisig/proposals/unichainmainnet/vip-009/index.ts
  multisig/proposals/unichainsepolia/vip-009/index.ts
  multisig/simulations/unichainmainnet/vip-009/abi/AccessControlManager.json
  multisig/simulations/unichainmainnet/vip-009/index.ts
  multisig/simulations/unichainsepolia/vip-009/abi/AccessControlManager.json
  multisig/simulations/unichainsepolia/vip-009/index.ts
  simulations/vip-456/abi/ACMAggregator.json
  simulations/vip-456/abi/AccessControlManager_ABI.json
  simulations/vip-456/abi/ERC20.json
  simulations/vip-456/abi/OmnichainExecutorOwner_ABI.json
  simulations/vip-456/abi/OmnichainGovernanceExecutor_ABI.json
  simulations/vip-456/abi/OmnichainProposalSender.json
  simulations/vip-456/abi/VtreasuryAbi.json
  simulations/vip-456/bscmainnet.ts
  simulations/vip-456/bsctestnet.ts
  simulations/vip-456/unichainmainnet.ts
  simulations/vip-456/unichainsepolia.ts
  src/networkAddresses.ts
  src/types.ts
  src/vip-framework/index.ts
  vips/vip-456/bscmainnet.ts
  vips/vip-456/bsctestnet.ts
Labels: unichain sepolia, unichain mainnet

#496 [VEN-3068]: Reward Distributor and XVS Vault rewards on Unichain
  multisig/proposals/unichainmainnet/vip-008/index.ts
  multisig/simulations/unichainmainnet/vip-008/abi/xvs.json
  multisig/simulations/unichainmainnet/vip-008/abi/xvsvault.json
  multisig/simulations/unichainmainnet/vip-008/index.ts
  simulations/vip-457/bscmainnet.ts
  vips/vip-457/bscmainnet.ts
Labels: unichain mainnet
