Repository VenusProtocol/vips, pull requests merged in 2025-01, with the labels that each got.

#452 [VEN-2981] Fund Remote Networks with XVS
  multisig/proposals/arbitrumone/vip-019/index.ts
  multisig/proposals/zksyncmainnet/vip-018/index.ts
  multisig/simulations/arbitrumone/vip-019/abi/VTreasury.json
  multisig/simulations/arbitrumone/vip-019/index.ts
  multisig/simulations/zksyncmainnet/vip-018/abi/VTreasury.json
  multisig/simulations/zksyncmainnet/vip-018/index.ts
  simulations/vip-419/abi/CoreComptroller.json
  simulations/vip-419/abi/OmnichainProposalSender.json
  simulations/vip-419/abi/VTreasury.json
  simulations/vip-419/abi/XVS.json
  simulations/vip-419/arbitrumone.ts
  simulations/vip-419/bscmainnet.ts
  simulations/vip-419/ethereum.ts
  simulations/vip-419/zksyncmainnet.ts
  vips/vip-419/bscmainnet.ts
Labels: ethereum, arbitrum one, zkSync

#466 [VEN-3023]: add VIP to adjust caps of USDC, WBTC and ZK on ZKsync
  simulations/vip-428/abi/Comptroller.json
  simulations/vip-428/abi/OmnichainProposalSender.json
  simulations/vip-428/bscmainnet.ts
  simulations/vip-428/zksyncmainnet.ts
  vips/vip-428/bscmainnet.ts
Labels: zkSync

#462 [VEN-3017]: Add wUSDM to the Core pool on zkSync
  package.json
  simulations/vip-429/abi/ERC4626Oracle.json
  simulations/vip-429/abi/OmnichainProposalSender.json
  simulations/vip-429/abi/PoolRegistry.json
  simulations/vip-429/abi/ResilientOracle.json
  simulations/vip-429/abi/SingleTokenConverter.json
  simulations/vip-429/abi/comptroller.json
  simulations/vip-429/abi/vToken.json
  simulations/vip-429/bscmainnet.ts
  simulations/vip-429/bsctestnet.ts
  simulations/vip-429/zksyncmainnet.ts
  simulations/vip-429/zksyncsepolia.ts
  src/vip-framework/checks/checkIsolatedPoolsComptrollers.ts
  vips/vip-429/bscmainnet.ts
  vips/vip-429/bsctestnet.ts
  yarn.lock
Labels: zkSync sepolia, zkSync

#456 [VEN-2998]: Add token configs for Arbitrum and update token configs incentives on Ethereum for all converters
  hardhat.config.ts
  simulations/vip-427/abi/Converter.json
  simulations/vip-427/abi/OmnichainProposalSender.json
  simulations/vip-427/abi/ResilientOracle.json
  simulations/vip-427/abi/erc20.json
  simulations/vip-427/arbitrumone.ts
  simulations/vip-427/arbitrumsepolia.ts
  simulations/vip-427/bscmainnet.ts
  simulations/vip-427/bsctestnet.ts
  simulations/vip-427/ethereum.ts
  simulations/vip-427/sepolia.ts
  src/utils.ts
  vips/vip-427/addresses.ts
  vips/vip-427/bscmainnetPartA.ts
  vips/vip-427/bscmainnetPartB.ts
  vips/vip-427/bsctestnetPartA.ts
  vips/vip-427/bsctestnetPartB.ts
Labels: ethereum, arbitrum one

#468 [VEN-3024][VEN-3029] Add gmETH and gmBTC markets in the Core Pool / Arbitrum, and Thena to the Core Pool / BNB Chain
  simulations/vip-434/abi/OmnichainProposalSender.json
  simulations/vip-434/abi/PoolRegistry.json
  simulations/vip-434/abi/ResilientOracle.json
  simulations/vip-434/abi/SingleTokenConverter.json
  simulations/vip-434/abi/comptroller.json
  simulations/vip-434/abi/vToken.json
  simulations/vip-434/arbitrumone.ts
  simulations/vip-434/arbitrumsepolia.ts
  simulations/vip-434/bscmainnet.ts
  simulations/vip-434/bsctestnet.ts
  simulations/vip-435/abi/ERC20.json
  simulations/vip-435/abi/LegacyPoolComptroller.json
  simulations/vip-435/abi/LegacyPoolVToken.json
  simulations/vip-435/abi/OmnichainProposalSender.json
  simulations/vip-435/abi/PoolRegistry.json
  simulations/vip-435/abi/ResilientOracle.json
  simulations/vip-435/abi/SingleTokenConverter.json
  simulations/vip-435/abi/comptroller.json
  simulations/vip-435/abi/vToken.json
  simulations/vip-435/arbitrumone.ts
  simulations/vip-435/arbitrumsepolia.ts
  simulations/vip-435/bscmainnet.ts
  simulations/vip-435/bsctestnet-addendum.ts
  simulations/vip-435/bsctestnet.ts
  src/vip-framework/checks/checkIsolatedPoolsComptrollers.ts
  vips/vip-434/bscmainnet.ts
  vips/vip-434/bsctestnet.ts
  vips/vip-435/arbitrumone-commands.ts
  vips/vip-435/bscmainnet.ts
  vips/vip-435/bsctestnet-addendum.ts
  vips/vip-435/bsctestnet.ts
Labels: arbitrum one, arbitrum sepolia

#471 [VEN-3032] Add wsuperOETHb market in the Core pool
  simulations/vip-437/abi/ERC4626Oracle.json
  simulations/vip-437/abi/OmnichainProposalSender.json
  simulations/vip-437/abi/PoolRegistry.json
  simulations/vip-437/abi/ResilientOracle.json
  simulations/vip-437/abi/SingleTokenConverter.json
  simulations/vip-437/abi/comptroller.json
  simulations/vip-437/abi/vToken.json
  simulations/vip-437/basemainnet.ts
  simulations/vip-437/basesepolia.ts
  simulations/vip-437/bscmainnet.ts
  simulations/vip-437/bsctestnet.ts
  vips/vip-437/bscmainnet.ts
  vips/vip-437/bsctestnet.ts
Labels: base sepolia, base mainnet
