Repository VenusProtocol/vips, pull requests merged in 2025-03, with the labels that each got.

#518 [VEN-3120]: Chaos lab recommendation
  simulations/vip-460/abi/OmnichainProposalSender.json
  simulations/vip-460/abi/comptroller.json
  simulations/vip-460/arbitrumone.ts
  simulations/vip-460/bscmainnet.ts
  simulations/vip-460/unichainmainnet.ts
  vips/vip-460/bscmainnet.ts
Labels: arbitrum one, unichain mainnet

#506 [VEN-3074] Add vip for the wstETH pool for Base and Zksync
  README.md
  package.json
  simulations/vip-461/abi/JumpRateModel.json
  simulations/vip-461/abi/OmnichainProposalSender.json
  simulations/vip-461/abi/ResilientOracle.json
  simulations/vip-461/abi/WETH.json
  simulations/vip-461/abi/comptroller.json
  simulations/vip-461/abi/erc20.json
  simulations/vip-461/abi/mockToken.json
  simulations/vip-461/abi/poolRegistry.json
  simulations/vip-461/abi/vToken.json
  simulations/vip-461/basemainnet.ts
  simulations/vip-461/basesepolia.ts
  simulations/vip-461/bscmainnet.ts
  simulations/vip-461/bsctestnet.ts
  simulations/vip-461/zksyncmainnet.ts
  simulations/vip-461/zksyncsepolia.ts
  vips/vip-461/bscmainnet.ts
  vips/vip-461/bsctestnet.ts
Labels: zkSync sepolia, zkSync, base sepolia, base mainnet

#510 [VEN-3073]: Add zkETH market to the Core pool on zkSync and UNI to the Core pool on Unichain
  simulations/vip-464/abi/OmnichainProposalSender.json
  simulations/vip-464/abi/PoolRegistry.json
  simulations/vip-464/abi/ResilientOracle.json
  simulations/vip-464/abi/ZkETHOracle.json
  simulations/vip-464/abi/comptroller.json
  simulations/vip-464/abi/erc20.json
  simulations/vip-464/abi/vToken.json
  simulations/vip-464/bscmainnet.ts
  simulations/vip-464/bsctestnet.ts
  simulations/vip-464/unichainmainnet.ts
  simulations/vip-464/unichainsepolia.ts
  simulations/vip-464/zksyncmainnet.ts
  simulations/vip-464/zksyncsepolia.ts
  src/vip-framework/checks/checkIsolatedPoolsComptrollers.ts
  vips/vip-464/bscmainnet.ts
  vips/vip-464/bsctestnet-uni.ts
  vips/vip-464/bsctestnet.ts
Labels: zkSync sepolia, zkSync, unichain sepolia, unichain mainnet
