Repository VenusProtocol/vips, pull requests merged in 2025-05, with the labels that each got.

#553 [VEN-3222]: adjust Prime for Q2 2025
  simulations/vip-491/abi/ERC20.json
  simulations/vip-491/abi/OmnichainProposalSender.json
  simulations/vip-491/abi/PrimeLiquidityProvider.json
  simulations/vip-491/abi/VTreasury.json
  simulations/vip-491/bscmainnet.ts
  simulations/vip-491/ethereum.ts
  src/vip-framework/index.ts
  vips/vip-491/bscmainnet.ts
Labels: ethereum

#556 [VEN-3224]: update UNI market configuration in Core Pool, increase caps of asBNB and USDC on Unichain
  simulations/vip-494/abi/OmnichainProposalSender.json
  simulations/vip-494/abi/PoolRegistry.json
  simulations/vip-494/abi/comptroller.json
  simulations/vip-494/abi/vToken.json
  simulations/vip-494/bscmainnet.ts
  simulations/vip-494/bsctestnet.ts
  simulations/vip-494/unichainmainnet.ts
  simulations/vip-494/unichainsepolia.ts
  vips/vip-494/bscmainnet.ts
  vips/vip-494/bsctestnet.ts
Labels: unichain sepolia, unichain mainnet

#558 [VEN-3229]: increase USDC/Unichain caps following Chaos recs
  simulations/vip-496/abi/OmnichainProposalSender.json
  simulations/vip-496/abi/comptroller.json
  simulations/vip-496/abi/vToken.json
  simulations/vip-496/bscmainnet.ts
  simulations/vip-496/unichainmainnet.ts
  vips/vip-496/bscmainnet.ts
Labels: unichain mainnet

#551 [VEN-3221]: Capped Oracles Deployments - Phase 2
  simulations/vip-497/abi/ACM.json
  simulations/vip-497/abi/BinanceOracle.json
  simulations/vip-497/abi/ERC20.json
  simulations/vip-497/abi/OmnichainProposalSender.json
  simulations/vip-497/abi/Proxy.json
  simulations/vip-497/abi/ProxyAdmin.json
  simulations/vip-497/abi/RedstoneOracle.json
  simulations/vip-497/abi/ResilientOracle.json
  simulations/vip-497/basemainnet.ts
  simulations/vip-497/basesepolia.ts
  simulations/vip-497/bscmainnet.ts
  simulations/vip-497/bsctestnet.ts
  simulations/vip-497/opbnbmainnet.ts
  simulations/vip-497/opbnbtestnet.ts
  simulations/vip-497/opmainnet.ts
  simulations/vip-497/opsepolia.ts
  simulations/vip-497/unichainmainnet.ts
  simulations/vip-497/unichainsepolia.ts
  vips/vip-497/bscmainnet.ts
  vips/vip-497/bsctestnet.ts
Labels: OP sepolia, OP mainnet, base sepolia, base mainnet, unichain sepolia, unichain mainnet
